# EXCLUDED FACTION LIST : The listed factions must use Faction ID, which is different from UI display names !
# To exclude any faction just remove '//' before faction/type name

# BLUEFOR
//AAF
//ASF
//UKAF
//UKSF
//USAF
//USASF
//75
//FOG
//USAMC
//MFR
//UAF
//USF
//FAF
//FSF

# INDEPENDENT
//MEINS
//IGF
//ISF
//FSA
//IRAF
//IRGC
//TAF

# REDFOR
//RAF
//RSF
//WAG
//SAF

# Excluding unit types
//+AirAssault
//+Armored
//+LightInfantry
//+Mechanized
//+Motorized
//+Support

# Excluding very specific unit from selected faction
//AAF+AirAssault
//AAF+AmphibiousAssault
//AAF+Armored
//AAF+CombinedArms
//AAF+LightInfantry
//AAF+Mechanized
//AAF+Motorized
//AAF+Support

//ASF+SpecialForces

//UKAF+AirAssault
//UKAF+AmphibiousAssault
//UKAF+Armored
//UKAF+CombinedArms
//UKAF+LightInfantry
//UKAF+Mechanized
//UKAF+Motorized
//UKAF+Support

//UKSF+SpecialForces

//USAF+AirAssault
//USAF+AmphibiousAssault
//USAF+Armored
//USAF+CombinedArms
//USAF+LightInfantry
//USAF+Mechanized
//USAF+Motorized
//USAF+Support

//USASF+SpecialForces

//75+SpecialForces

//FOG+SpecialForces

//USAMC+AirAssault
//USAMC+AmphibiousAssault
//USAMC+Armored
//USAMC+CombinedArms
//USAMC+LightInfantry
//USAMC+Mechanized
//USAMC+Motorized
//USAMC+Support

//MFR+SpecialForces

//UAF+AirAssault
//UAF+AmphibiousAssault
//UAF+Armored
//UAF+CombinedArms
//UAF+LightInfantry
//UAF+Mechanized
//UAF+Motorized
//UAF+Support

//USF+SpecialForces

//FAF+AirAssault
//FAF+AmphibiousAssault
//FAF+Armored
//FAF+CombinedArms
//FAF+LightInfantry
//FAF+Mechanized
//FAF+Motorized
//FAF+Support

//FSF+SpecialForces

//MEINS+AirAssault
//MEINS+AmphibiousAssault
//MEINS+Armored
//MEINS+CombinedArms
//MEINS+LightInfantry
//MEINS+Mechanized
//MEINS+Motorized
//MEINS+Support

//IGF+AirAssault
//IGF+AmphibiousAssault
//IGF+Armored
//IGF+CombinedArms
//IGF+LightInfantry
//IGF+Mechanized
//IGF+Motorized
//IGF+Support

//ISF+SpecialForces

//FSA+AirAssault
//FSA+AmphibiousAssault
//FSA+Armored
//FSA+CombinedArms
//FSA+LightInfantry
//FSA+Mechanized
//FSA+Motorized
//FSA+Support

//IRAF+AirAssault
//IRAF+AmphibiousAssault
//IRAF+Armored
//IRAF+CombinedArms
//IRAF+LightInfantry
//IRAF+Mechanized
//IRAF+Motorized
//IRAF+Support

//IRGC+SpecialForces

//TAF+AirAssault
//TAF+AmphibiousAssault
//TAF+Armored
//TAF+CombinedArms
//TAF+LightInfantry
//TAF+Mechanized
//TAF+Motorized
//TAF+Support

//RAF+AirAssault
//RAF+AmphibiousAssault
//RAF+Armored
//RAF+CombinedArms
//RAF+LightInfantry
//RAF+Mechanized
//RAF+Motorized
//RAF+Support

//RSF+SpecialForces

//WAG+SpecialForces

//SAF+AirAssault
//SAF+AmphibiousAssault
//SAF+Armored
//SAF+CombinedArms
//SAF+LightInfantry
//SAF+Mechanized
//SAF+Motorized
//SAF+Support
