# EXCLUDED LEVEL LIST : This must use the Level Id : this is different from UI display names !
// NOTE: This file is used for servers running with Levels voting.
// This setting can be found in your Server.cfg file (make sure to use a fresh one as your basis).
// NOTE: in-line comments will not work in this config until further notice. Comment lines should be in separate lines, if used.

//Supermod_AlBasrah
//Supermod_Anvil
//Supermod_Belaya
//Supermod_BlackCoast
//Supermod_BlackCoast_HalfMap
//Supermod_Chora
//Supermod_Fallujah
//Supermod_FoolsRoad
//Supermod_GooseBay
//Supermod_Gorodok
//Supermod_Gorodok_HalfMap
//Supermod_Harju
//Supermod_JensensRange
//Supermod_Kamdesh
//Supermod_Kohat
//Supermod_Kokan
//Supermod_Lashkar
//Supermod_Logar
//Supermod_Manicouagan
//Supermod_Mestia
//Supermod_Mutaha
//Supermod_Narva
//Supermod_Sanxian
//Supermod_Skorpo
//Supermod_Sumari
//Supermod_Tallil
//Supermod_Yehorivka
//Hrodna_Border
//Rassvet

//GoingDark_AlBasrah
//GoingDark_Anvil
//GoingDark_Belaya
//GoingDark_BlackCoast
//GoingDark_Chora
//GoingDark_Fallujah
//GoingDark_FoolsRoad
//GoingDark_GooseBay
//GoingDark_Gorodok
//GoingDark_Harju
//GoingDark_JensensRange
//GoingDark_Kamdesh
//GoingDark_Kohat
//GoingDark_Kokan
//GoingDark_Lashkar
//GoingDark_Logar
//GoingDark_Manicouagan
//GoingDark_Mestia
//GoingDark_Mutaha
//GoingDark_Narva
//GoingDark_Skorpo
//GoingDark_Sumari
//GoingDark_Tallil
//GoingDark_Yehorivka
//GoingDark_Hrodna_Border